@import 'footable/compiled/footable.standalone.css';
@import 'Font-Awesome/css/font-awesome.css';
@import '@fortawesome/fontawesome-free/css/all.css';

.banner {
    height:200px;
    width:100%;
    background-image:url('../images/marca.jpg');
    background-size: cover; 
}