@import '~bootstrap/scss/bootstrap';
@import '../AnimateIt/css/animations.css';
@import '~footable/compiled/footable.standalone.css';
@import '~Font-Awesome/css/font-awesome.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~donkeyGallery/dnk-gallery/css/jquery.donkeyGallery.packed.min.css';


$acceVerde: #84a640;
$acceAzul: #396696;
$colormarca : #e1cead;

h1 {
    color: $colormarca;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.marca {
	color:$colormarca;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.parallax {
 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-negro {
    background-color: #232021;
    color: #e1cead !important;
}
.fondo-navbar{
    background-image: linear-gradient(#c29c69, #e1cead);
}

.container-normal{
    color: #232021;
}
.banner {
    height:200px;
    width:100%;
    background-image:url('images/marca.jpg');
    background-size: cover; 
}