{% extends "index.html.twig" %}

{% block title %}ARQUINEA: Obras{% endblock %}
        
        {% block body %}
        <div class="container container-normal bg-light">
                <hr>
                <div class="d-flex justify-content-center fondo-negro">
                    <h2>
                        Contactos:
                    </h2>
                </div>
                <hr>
                {% for contacto in contactos %}
                    <h3>
                        {{ contacto.titulo }}
                    </h3>
                    <p>
                        {{ contacto.informacion }}
                    </p>
                {% endfor %}
                <hr>
        </div>
        {% endblock %}

{% block javascripts %}
{% endblock %}