{% extends "index.html.twig" %}

{% block title %}ARQUINEA: Obras{% endblock %}
        
        {% block body %}
        <div class="container container-normal bg-light">
                <hr>
                <div class="d-flex justify-content-center fondo-negro">
                    <h2>
                        Documentos:
                    </h2>
                </div>
                <hr>
                {% for documento in documentos %}
                    <h3>
                        {{ documento.titulo }}
                    </h3>
                    <p>
                        {{ documento.descripcion }}
                    </p>
                    <a class="btn btn-light boton-dorado" href="{{asset('documentos/'~documento.archivo)}}">
                        Descargar
                    </a>
                {% endfor %}
                <hr>
        </div>
        {% endblock %}

{% block javascripts %}
{% endblock %}