{% extends "index.html.twig" %}

{% block title %}ARQUINEA: Obras{% endblock %}
        
        {% block body %}
        <div class="container container-normal bg-light">
            <hr>
            <div class="d-flex justify-content-center fondo-negro">
                <h2>
                    Listado De Obras:
                </h2>
            </div>
            <hr>
                        <!-- Table Markup -->
            <table class="table footable" data-filtering="true" data-sorting="true" data-empty="Sin Obras" data-paging-count-format="{CP} de {TP}"
            data-paging="true" data-paging-size="2" data-filter-placeholder="Buscar">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Arquitecto</th>
                        <th>Imagen</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for publicacion in publicaciones %}
                        <tr>
                            <td>{{ publicacion.titulo }}</td>
                            <td>{{ publicacion.arquitecto }}</td>
                            <td><img width="100px" src="{{ ('obras/imagenes/'~publicacion.imagen) | imagine_filter('squared_thumbnail') }}" class="img-fluid"></td>
                            <td><a class="btn btn-light boton-dorado w-100" href="{{ path('obra', {'id': publicacion.id}) }}">Ver Publicacion</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

